
#bgVideo {
    position: absolute;
    width: 100vw;
    height: auto;
    z-index: 1;
}
.body {
    padding: 0px;
    margin: 0px;
}
.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
}

#hero.header {
    height: 75vh;
    background-color: black; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    background-image: url(/img/bgimage.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.halfContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}
.coloroverlay {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 150vh;
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    z-index: 50;
}
.container {
    width: 60%;
    padding-top: 3em;
    padding-bottom: 3em;
}
#features.header {
    background-color: black;
    height: 50em;
    position: relative;
    z-index: 1000;
}

.button {
    background-color: orange;
    padding: 1em;
    border-style: none;
}

.buttonText {
    color: white;
}
.ip {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #ffc306;
    background-color: #ffc306;
    border-radius: 5px;
    flex-shrink: 1;
    width: auto;
    height: auto;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: .75em;
    padding-bottom: .75em;
    text-align: center;
    margin-top: 5em;
    text-decoration: none;
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
   -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
     -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */

-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
     -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
        transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
.ip:hover {
    transform: scale(1.03, 1.03);
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
      -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
         transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
 
 -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
      -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
         transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
.ip2 {
    margin-left: 1em;
    display: inline-block;
    border-style: solid;
    border-color: #ffc306;
    border-width: 2px;
    border-
    border-color: #ffc306;
    border-radius: 5px;
    flex-shrink: 1;
    width: auto;
    height: auto;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: .75em;
    padding-bottom: .75em;
    text-align: center;
    margin-top: 5em;
    text-decoration: none;
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
   -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
     -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */

-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
     -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
        transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
.ip2:hover {
    transform: scale(1.03, 1.03);
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
      -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
         transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
 
 -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
      -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
         transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
#ip.h1 {
    color: black;
    width: auto;
}
#ip2.h1 {
    color: rgb(255, 255, 255);
    width: auto;
}
.h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    font-size: 1.25em;
    letter-spacing: .08em;
}
.headerText {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 2.5em;
    color: white;
    text-align: center;
}
.featureContainer {
    color: white;
    display: flex;
    flex-direction: row;
}
.feature {
    width: 25%;
    padding: 2em;
    border-style: solid;
    border-width: 1px;
    border-color: dimgray;
    position: relative;
    margin: .25em;
    -webkit-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
.feature:hover {
    border-color: #ffc306;
    transform: scale(1.025,1.025);
    -webkit-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
.featureIcon {
    width: 75%;
    height: 5em;
    display: inline-block;
    position: relative;
}
.featureHeading {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: white;
}
.featureDescription {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: .75em;
    color: darkgrey;
}
.title {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 2em;
    color: white;
}
.detailsheader {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: .75em;
    color: darkgray;
    margin-bottom: 8px; 
}
.details {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: .6em;
    color: darkgrey;
    opacity: 70%;
    margin: 5px;
}
.discord {
    border-style: solid;
    border-width: 1px;
    border-color: #ffc306; 
    padding: 1em;
    border-radius: 15px;
}
#votesite.header {
    background-color: #ffc306;
    height: 25em;
    position: relative;
    z-index: 1001;
}
.voteContainer {
    color: black;
    display: flex;
    flex-direction: row;
}
.votesite {
    background-color: transparent;
    text-decoration: none;
    width: 25%;
    padding: 2em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
    margin: .25em;
    -webkit-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
.votesite:hover {
    background-color: black;
    border-color: #000000;
    transform: scale(1.025,1.025);
    -webkit-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
.votesiteHeading {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: white;
}
.votesiteDescription {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: .75em;
    color: white;
}
.allsitescontainer {
    text-decoration: none;
}
.allSites {
    text-decoration: none;
}